<!DOCTYPE html>
<html>
  <head>
    <title>{{ doc.title }}</title>
  </head>
  <body>
    <h1>{{ doc.title }}</h1>
    <h2>Author</h2>
    {{doc.author}}
    <h2>BOM</h2>
    <ul>
      {% for part in parts %}
      <li>
      {% if part.images | length > 0 %}
      <a href="{{part.images[0].url}}">{{part.quantity}}x {{part.name}}</a>
      {% else %}
      {{part.quantity}}x {{part.name}}
      {% endif %}
      {% if part.optional > 0 %}
      (+{{part.optional}}x optionally)
      {% endif %}
      </li>
      {% endfor %}
    </ul>

    <h2>Required Tools</h2>
    <ul>
      {% for tool in tools %}
      <li>
      {% if tool.images | length > 0 %}
      <a href="{{tool.images[0].url}}">{{tool.quantity}}x {{tool.name}}</a>
      {% else %}
      {{tool.quantity}}x {{tool.name}}
      {% endif %}
      {% if tool.optional > 0 %}
      (+{{tool.optional}}x optionally)
      {% endif %}
      </li>
      {% endfor %}
    </ul>

    {% for step in steps %}
    <h2>Step {{step.step_nr}}: {{step.title}}</h2>
    {% if step.duration %}
    <h3>Duration</h3>
    <ul>
      <li>{{step.duration}} activity</li>
      {% if step.waiting%}
      <li>{{step.waiting}} waiting time</li>
      {% endif %}
    </ul>
    {% endif %}
    {% if step.parts %}
    <h3>Parts</h3>
    <ul>
      {% for part in step.parts.values() %}
      <li>
      {% if part.images | length > 0 %}
      <a href="{{part.images[0].url}}">{{part.quantity}}x {{part.name}}</a>
      {% else %}
      {{part.quantity}}x {{part.name}}
      {% endif %}
      {% if part.optional > 0 %}(optional){% endif %}
      </li>
      {% endfor %}
    </ul>
    {% endif %}
    {% if step.tools %}
    <h3>Tools</h3>
    <ul>
      {% for tool in step.tools.values() %}
      <li>
      {% if tool.images | length > 0 %}
      <a href="{{tool.images[0].url}}">{{tool.quantity}}x {{tool.name}}</a>
      {% else %}
      {{tool.quantity}}x {{tool.name}}
      {% endif %}
      {% if tool.optional > 0 %}(optional){% endif %}
      </li>
      {% endfor %}
    </ul>
    {% endif %}

    {% if step.files %}
    <h3>Files</h3>
    <ul>
      {% for file in step.files.values() %}
      <li> <a href="{{file.url}}">{{file.filename}}</a></li>
      {% endfor %}
    </ul>
    {% endif %}

    {% if step.attention %}
    <h3>Attention</h3>
    <p>{{step.attention}}</p>
    {% endif %}

    <h3>Description</h3>
    <p>{{step.description}}</p>

    {% if step.results %}
    <h3>Results</h3>
    <ul>
      {% for result in step.results.values() %}
      <li>
      {% if result.images | length > 0 %}
      <a href="{{result.images[0].url}}">
        {{result.quantity}}x {{result.name}}
      </a>
      {% else %}
      {{result.quantity}}x {{result.name}}
      {% endif %}
      {% if result.optional > 0 %}(optional){% endif %}
      </li>
      {% endfor %}
    </ul>
    {% endif %}

    {% if step.assertions %}
    <h3>Check</h3>
    {% for ass in step.assertions %}
      <input type="checkbox"> {{ ass }}<br>
    {% endfor %}
    {% endif %}
    {% endfor %}

  </body>
</html>
